.room-list {
  position: absolute;
  width: 100%;
  max-height: calc(100% - 110px);
  background-color: white;
  padding: 10px 20px;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.1s linear;
  overflow-y: scroll;
}

.room-list--none {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s linear;
}

.room-list__form {
  display: flex;
}

.room-list__form .input {
  width: 100%;
}

.room-list__form .btn-submit {
  margin-left: 10px;
  padding: 0px 10px;
}

.rooms {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0px;
}

.room {
  color: #adb5bd;
  border: 1px solid #adb5bd;
  padding: 8.5px 10px;
  border-radius: 3px;
  margin: 5px 0px;
  margin-right: 10px;
  cursor: pointer;
}

.room:hover {
  background-color: #74c0fc;
  border: 1px solid #74c0fc;
  color: white;
}

.room--active {
  background-color: #74c0fc;
  border: 1px solid #74c0fc;
  color: white;
}

@media (max-width: 640px) {
  .room-list {
    top: 60px;
  }
}
