.msg-form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.msg-form .input {
  width: 100%;
  border: none;
  background-color: white;
  padding-right: 35px;
}

.msg-form .msg-form__btn-submit {
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.msg-form__btn-submit svg {
  width: 25px;
  height: auto;
  fill: #74c0fc;
}
