.message {
  max-width: 250px;
  margin: 15px 0;
}

.message .message__name {
  margin-bottom: 7px;
  font-size: 14px;
  min-height: 1em;
}

.message__name .loading {
  width: 30px;
}

.message .message__content {
  padding: 10px;
  background-color: #dee2e6;
  border-radius: 10px;
  font-size: 14px;
  display: inline-block;
  text-align: left;
  line-height: 1.3rem;
}

.message--mine {
  margin-left: auto;
  text-align: right;
}

/* .message--mine .message__name {
  text-align: right;
  display: none;
} */

.message--mine .message__content {
  background-color: #a5d8ff;
}

.message span {
  display: block;
}
