.name-form {
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 15px 15px 35px -20px rgba(0, 0, 0, 0.75);
}

.logo-text {
  display: block;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.name-form__input {
  width: 100%;
}

.name-form__input::placeholder {
  text-align: center;
}

.name-form__input:focus::placeholder {
  text-align: left;
}

.name-form .btn-submit {
  width: 100%;
  margin-top: 10px;
}

img.loading {
  width: 100px;
}

@media (max-width: 640px) {
  .name-form {
    width: calc(100% - 50px);
  }
}
